[Unit]
Description=pacman cache
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/miniserve -vIp 19806 --header User-Agent:pacmancache/1.0 /var/cache/pacman/pkg

DynamicUser=yes
PrivateTmp=yes
PrivateUsers=yes
PrivateDevices=yes
NoNewPrivileges=true
LockPersonality=yes
ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
CapabilityBoundingSet=
SystemCallFilter=~ @reboot @swap @mount @privileged @module @raw-io @resources @debug @obsolete @cpu-emulation
RestrictNamespaces=net
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
